h2, h3, h4 , h5, h6 {
  color: #000;
}

.l-page {
  padding: 0;
}

.page-header {
  background: none;
  padding-bottom: 4px;
}
.page-header h1.header-logo {
  float: left;
  padding: 0;
  width: 45%;
}
.page-header .header-logo .header-logo {
  font-size: 16pt;
  padding: 0.2em 0;
}
.page-header .header-logo img {
  float: left;
  height: 60px;
  width: 60px;
}
.page-header .header-logo br {
  display: inline;
}

.page-header .header-desc {
  padding: 0.2em 0;
}
.header-desc p {
  margin: 0.5em 0;
  font-size: 12pt;
}
.search-bar {
  display: none;
}
.search-bar.on {
  display: block;
  position: relative;
  padding: 0;
}
.search-bar [type=search] {
  background: none;
  color: #000;
}

#content_area {
  background: none;
  padding-bottom: 1em;
}

h2.title {
  padding: 0;
  color: #000;
  font-size: 18pt;
}
h2.title a:first-child {
  display: none;
}
h2.title a {
  background: none;
  color: #444;
  font-style: italic;
  padding: 0;
}
h2.title .breadcrumb {
  font-weight: bold;
  white-space: pre;
}

.work_step {
  padding: 20px 0;
}
.work_step:not(:first-of-type) {
  page-break-inside: avoid;
}
.evens, .odds {
  background: none;
  color: #000;
}
.step-title {
  page-break-inside: avoid;
  page-break-after: avoid;
  min-height: 30px;
  font-size: 16pt;
  padding-left: 50px;
}
.step-id {
  background: #fff;
  border: 1px solid #333;
  font-size: 16pt;
  height: 35px;
  width: 35px;
  line-height: 35px;
  margin-right: 0;
}

.step_description {
  page-break-before: avoid;
  margin: 0;
  padding: 0;
  border: none;
}
.text_bottom {
  padding: 10px 0;
}

.picture_column .picture {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 20px;
  page-break-inside: avoid;
}
.picture_column .picture:nth-child(odd) {
  clear: left;
  padding-right: 20px;
}
.picture_caption {
  color: #000;
  font-size: 10pt;
  font-weight: bold;
}

.step-done {
  display: none;
}

.page-footer {
  padding: 10px 0;
  font-size: 8pt;
}
.footer-info {
  padding-top: 0;
}
