@font-face {
  font-family: 'titillium_regular';
  src: url("fonts/titilliumweb-regular-webfont.eot");
  src: url("fonts/titilliumweb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/titilliumweb-regular-webfont.woff2") format("woff2"), url("fonts/titilliumweb-regular-webfont.woff") format("woff"), url("fonts/titilliumweb-regular-webfont.ttf") format("truetype"), url("fonts/titilliumweb-regular-webfont.svg#titillium_webregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
    font-family: 'titillium_semibold';
    src: url('fonts/titilliumweb-semibold-webfont.eot');
    src: url('fonts/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-semibold-webfont.woff') format('woff'),
         url('fonts/titilliumweb-semibold-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'latobold';
  src: url("fonts/lato-bold-webfont.eot");
  src: url("fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-bold-webfont.woff2") format("woff2"), url("fonts/lato-bold-webfont.woff") format("woff"), url("fonts/lato-bold-webfont.ttf") format("truetype"), url("fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latolight';
  src: url("fonts/lato-light-webfont.eot");
  src: url("fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-light-webfont.woff2") format("woff2"), url("fonts/lato-light-webfont.woff") format("woff"), url("fonts/lato-light-webfont.ttf") format("truetype"), url("fonts/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("fonts/lato-regular-webfont.eot");
  src: url("fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-regular-webfont.woff2") format("woff2"), url("fonts/lato-regular-webfont.woff") format("woff"), url("fonts/lato-regular-webfont.ttf") format("truetype"), url("fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoblack';
  src: url('fonts/lato-black-webfont.eot');
  src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/lato-black-webfont.woff2') format('woff2'),
       url('fonts/lato-black-webfont.woff') format('woff'),
       url('fonts/lato-black-webfont.ttf') format('truetype'),
       url('fonts/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
