{% load static %}

<link rel="stylesheet" href="{% static 'photoswipe/photoswipe.css' %}"> 
<link rel="stylesheet" href="{% static 'photoswipe/default-skin/default-skin.css' %}"> 
<script src="{% static 'photoswipe/photoswipe.min.js' %}"></script> 
<script src="{% static 'photoswipe/photoswipe-ui-default.min.js' %}"></script> 

<script type="text/javascript">
  jQuery(function($) {
    const baseOptions = {shareEl: false};
    const $lightboxElement = $(LIGHTBOX_TEMPLATE).appendTo('body');

    $('.work_step').each((j, step) => {
      const $imageLinks = $(step).find('[data-image-width]');
      const items = $imageLinks.map((i, imageLink) => ({
        src: imageLink.getAttribute('href'),
        msrc: imageLink.getElementsByTagName('img')[0].getAttribute('src'),
        title: imageLink.getAttribute('data-image-caption'),
        w: imageLink.getAttribute('data-image-width'),
        h: imageLink.getAttribute('data-image-height')
      }));

      $imageLinks.each((index, imageLink) => {
        $(imageLink).on('click', (e) => {
          e.preventDefault();
          const gallery = new PhotoSwipe(
            $lightboxElement[0],
            PhotoSwipeUI_Default,
            items,
            Object.assign({index}, baseOptions)
          );
          gallery.init();
        });
      });
    });
  });
  const LIGHTBOX_TEMPLATE = `
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>

      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>

            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

            <button class="pswp__button pswp__button--share" title="Share"></button>

            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div> 
          </div>

          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>

          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>

          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  `;
</script>
