{% load static %}
{% load sass_tags %}
<!doctype html>
<html>
<head>
  <title>{% block page_title %}
    OHAI: Open Hardware Assembly Instructions
  {% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Open Hardware Assembly">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
  <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#c1d82f">

  <link rel="stylesheet" type="text/css" href="{% static 'ohai_kit/fonts.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% sass_src 'src/scss/screen.scss' %}" />
  <link rel="stylesheet" type="text/css" media="print" href="{% static 'ohai_kit/print.css' %}" />
  <script type="text/javascript"
          src="{% static 'ohai_kit/jquery-2.0.3.min.js' %}" >
  </script>
  {% if touch_emulation %}
  <script type="text/javascript"
          src="{% static 'ohai_kit/touch_scroll.js' %}" >
  </script>
  {% endif %}
  <script type="text/javascript">
    jQuery(function($) {
      const $searchBar = $('.search-bar');
      const $searchInput = $searchBar.find('[type=search]');
      $searchInput.on('focus', function(e) {
        $searchBar.addClass('active');
      });
      $searchInput.on('blur input', function(e) {
        if ($searchInput.val().length == 0) {
          $searchBar.removeClass('active');
          $searchInput.blur();
        }
      });
    });
  </script>

  {% block head_ext %}
  {% endblock head_ext %}
</head>
<body {% if touch_emulation %}class="touch_emulation"{% endif %}>
  <header id="site-header">
    <div class="l-page">
      {% if settings.header_logo %}
        <a href="/" class="site-logo">
          <img src="{{settings.header_logo.url}}"
            alt="{{settings.header_logo_alt}}"/>
        </a>
      {% endif %}
      <h1>
        <a href="/">{{settings.header_text|safe}}</a>
      </h1>
      <p class="site-description">
        {{settings.header_description|safe}}
      </p>
    </div>
  </header>

  <div id="content_area">
    <div class="search-bar{% if request.GET.q %} active{% endif %}{% if show_search %} on{% endif %}">
      <form method="GET" action="/search">
        <input type="search" name="q" id="id_q" value="{{ request.GET.q }}" autocomplete="off"/>
      </form>
    </div>
  {% block content %}
  {% endblock content %}
  </div>

  <footer id="page_footer" class="page-footer">
    <div class="l-page">
    <a href="{{settings.footer_url}}" class="footer-logo">
      {% if settings.header_logo %}
      <img src="{{settings.footer_logo.url}}"
           alt="{{settings.footer_logo_alt}}" />
      {% endif %}
    </a>
    <div class="footer-info">
    <div class="footer-menu"></div>
      <div class="footer-desc">
        <p class="footer-desc--copy">
          <span class="copyleft"><img src="{% static 'ohai_kit/Copyleft_clip_art.png' %}"></span>
          {{settings.footer_copyleft|safe}}
        </p>
        <p class="footer-desc--source">
          {{settings.footer_description|safe}}
        </p>
      </div>
    </div>
    </div>
  </footer>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.alephobjects.com/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "4"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code --> 
</body></html>
