{% extends "ohai_kit/base.html" %}
{% load staticfiles %}
{% load django_markdown %}
{% load thumbnail %}
{% load columnize %}

{% block head_ext %}
{% endblock head_ext %}

{% block content %}
<div class="l-page" id="project">
{% if no_breadcrumbs %}
<h2 class="title">Project Dashboard</h2>
{% else %}
<h2 class="title">
  <a href="{% url 'ohai_kit:index' %}">Project Dashboard</a>
  {% if group %}
    {% for parent in group.parent_sets %}
      <a href="{% url 'ohai_kit:named_group' parent.slug %}">{{ parent.name }}</a>
    {% endfor %}
  {% endif %}
  {{ group_name }}
</h2>
{% if group %}
  <div id="set_description">
  {{ group.abstract | markdown_safe }}
  </div>
{% else %}
  <div id="set_description">
    <p>The following projects are not associated to any product groups.</p>
  </div>
{% endif %}
{% endif %}

{% if not group or not group.index_mode %}
<div id="project_grid">
  {% for project_set in project_sets %}
    <a class="project_card" href="{% url 'ohai_kit:named_group' project_set.slug %}">
      {% if project_set.photo %}
        <img src="{% thumbnail project_set.photo "400x300" upscale crop %}" />
      {% else %}
        <img src="{% static 'ohai_kit/no_img.png' %}" />
      {% endif %}
      <h3>{{ project_set.name }}</h3>
      {{ project_set.abstract | markdown_safe }}
    </a>
  {% endfor %}

  {% for project in projects %}
    {% if group %}
       <a class="project_card" href="{% url 'ohai_kit:project_with_parent' project.slug group.slug %}">
    {% else %}
       <a class="project_card" href="{% url 'ohai_kit:project' project.slug %}">
    {% endif %}
      {% if project.photo %}
          <img src="{% thumbnail project.photo "400x300" upscale crop %}" />
        {% else %}
          <img src="{% static 'ohai_kit/no_img.png' %}" />
        {% endif %}
      <h3>{{ project.name }}</h3>
      {{ project.abstract | markdown_safe }}
    </a>
  {% endfor %}
</div>

{% else %}
<div id="project_index">
  {% for project in projects %}
    <a class="project_entry" href="{% url 'ohai_kit:project' project.slug %}">
      {% if project.photo %}
        <img src="{% thumbnail project.photo "400x300" upscale crop %}" />
      {% else %}
        <img src="{% static 'ohai_kit/no_img.png' %}" />
      {% endif %}
      <h3>Part {{ forloop.counter }} ❖ {{ project.name }}</h3>
      {{ project.abstract }}
  </a>
  {% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
