{% extends "ohai_kit/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load django_markdown %}

{% block head_ext %}

{% endblock %}

{% block content %}
<div class="l-page">
  <h2 class="title">
    <a href="{% url 'ohai_kit:index' %}">Project Dashboard</a>
    Search Results
  </h2>
  <div id="project_grid">
    {% for result in page_obj.object_list %}
      <a class="project_card" href="{% url 'ohai_kit:project' result.object.slug %}">
        {% if result.object.photo %}
          <img src="{% thumbnail result.object.photo "400x300" upscale crop %}" />
        {% else %}
          <img src="{% static 'ohai_kit/no_img.png' %}" />
        {% endif %}
        <h3>{{ result.object.name }}</h3>
        {{ result.object.abstract | markdown_safe }}
      </a>
    {% empty %}
      <p>No results found.</p>
    {% endfor %}

    {% if page_obj.has_previous or page_obj.has_next %}
      <div class="step-done">
        {% if page_obj.has_previous %}
          <a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">
            &laquo; Previous
          </a>
        {% endif %}
        {% if page_obj.has_previous and page_obj.has_next %}|{% endif %}
        {% if page_obj.has_next %}
          <a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">
            Next &raquo;
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
