body {
  margin: 0px;
  background: $clr-body-bg;
  color: $clr-text;
  font-family: $ff-body;
  font-weight: $fw-body;
}

h1 {
  font-family: $ff-heading;
  font-weight: $fw-heading;
}
h2, h3, h4, h5, h6 {
  font-family: $ff-subheading;
  font-weight: $fw-subheading;
  color: $clr-title;
}

a {
  color: $clr-blt;
  text-decoration: none;
}
a:hover {
  color: $clr-blt-em;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  margin: 0.2em 0;
}

#site-header {
  @include breakpoint(bp-to(default)) {
    text-align: center;
  }
  @include breakpoint(bp-to(medium)) {
    background: $clr-hdr-bg;
  }
  @include breakpoint(bp(medium)) {
    @include grad-stripe(50%, 8%, 135deg, $clr-hdr-bg, $clr-hdr-dc, $clr-tpl-bg);
  }

  .l-page {
    @include breakpoint(bp(default)) {
      display: flex;
      align-items: flex-end;
      padding-top: 30px;
      padding-bottom: 30px;
      flex-wrap: wrap;
    }
    @include breakpoint(bp(medium)) {
      flex-wrap: nowrap;
    }
  }

  .site-logo {
    display: inline-block;
    margin-top: 10px;

    @include breakpoint(bp(default)) {
      margin-right: 10px;
      margin-top: -15px;
      margin-bottom: -15px;
    }
  }

  h1 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;

    @include breakpoint(bp-to(default)) {
      margin-bottom: 10px;
    }
    @include breakpoint(bp(medium)) {
      flex-basis: 30%;
      margin-right: 5%;
    }

    a {
      color: $clr-logo;
    }
  }
  .site-description {
    font-size: 18px;
    color: $clr-desc;
    margin: -30px;
    margin-top: 20px;

    @include breakpoint(bp-to(default)) {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    @include breakpoint(bp-to(medium)) {
      background: $clr-tpl-bg;
      border-top: 15px solid $clr-hdr-dc;
      padding: 20px 30px;
      width: 100%;
    }
    @include breakpoint(bp(medium)) {
      flex: 1;
      text-align: right;
      margin: 0;
      margin-left: 7%;
    }
  }
}

div#content_area {
  background: $clr-content-bg;
}

.search-bar {
  @include breakpoint(bp(small)) {
    position: absolute;
  }

  box-sizing: border-box;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 100%;
  background: transparent;
  transition: all 0.4s ease-in-out;
  pointer-events: none;

  input[type=search] {
    font-size: 28px;
    border: none;
    color: #fff;
    width: 100%;
    padding: 3px 0 3px 40px;
    background: no-repeat 9px center/22px $search-icon $gray-darkest;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    transition: all 0.1s ease-in-out;

    @include breakpoint(bp(small)) {
      width: 40px;
    }
  }

  &.active, &.on {
    @include breakpoint(bp(small)) {
      background: $gray-darkest;
    }

    input[type=search] {
      width: 100%;
      padding-right: 10px;
      cursor: text;
      transition: all 0.6s ease-in-out;
    }
  }
}

.title {
  padding: 30px 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  @include box--centered;
  text-align: left;
  font-size: 18px;
  color: $clr-title;

  @include breakpoint(bp(small)) {
    padding-left: 55px;
  }


  a {
    display: inline-block;
    margin-right: 1em;
    padding: 0.5em 1.25em;
    background: $clr-blt-em;
    color: $clr-desc;
  }
}


.page-footer {
  padding: 40px 0;
  @include breakpoint(bp(small)) {
    @include clearfix;
  }
}
.footer-logo {
  @include breakpoint(bp(default)) {
    float: left;  
  }
}
.footer-info {
  padding-top: 1em;
}
.footer-desc {
  @include breakpoint(bp(default)) {
    margin-left: 100px;
    border-top: 1px solid $clr-ftr-brdr;
  }
  color: $clr-ftr;

  a {
    color: $clr-ftr-link;
  }
}

.footer-desc--copy {
  @include breakpoint(bp(small)) {
    float: left;
    width: 50%;
  }
}
.footer-desc--source {
  @include breakpoint(bp(small)) {
    float: right;
    width: 50%;
    text-align: right;
  }
}

.copyleft {
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  width: 12px;
  height: 12px;
  text-align: center;
}
